@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*#region Color variables */
$background: #ffffff;
$text-main: #2d3142;
$text-light: #4f5d75;
$color-inactive: #bfc0c0;
$color-highlight: #ef8354;
/*#endregion */

/*#region Base app variables */
* {
  margin: 0px;
}
.app {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-main;
  width: 100%;
}

.main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text-body {
  width: 60%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: 'Manrope';
}

h3 {
  margin: 40px 0 0;
  color: $text-light;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $text-main;
  &:hover {
    color: $color-highlight;
  }
}
/*#endregion */

/*#region Navbar*/
.nav {
  box-sizing: border-box;
  display: flex;
  height: 80px;
  width: 100%;
  margin-top: 12px;
  color: $text-light;


  a {
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: $text-light;

    &.push {
      margin-left: auto;
    }

    &:hover {
      color: $color-highlight;
    }

    &.router-link-exact-active {
      color: $color-highlight;
      &:hover {
        cursor: default;
      }
    }

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  img {
    display: block;
    max-width: 100px;
    max-height: 80px;
    width: auto;
    height: auto;
    margin-left: 20px;
  }
}
/*#endregion*/

/*#region Footer */
.footer {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: row;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;

  .unicon {
    fill: $text-main;
    transition: 0.3s;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    &:hover {
      fill: $color-highlight;
      cursor: pointer;
    }
  }

  

  .push {
    flex-grow: 1;
    @media only screen and (max-width: 600px) {
      flex-grow: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    text-align: right;
  }
}
/*#endregion */

/*#region About page */
.table-box {
  width: 100%;

  .column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    text-align: left;
    position: relative;

    &.right {
      text-align: center;

      h3 {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 4;

        @media only screen and (max-width: 600px) {
          display: block;
          margin-left: 0px;
          padding-right: 20px;
          padding-left: 40px;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
      text-align: center;
    }

    h3 {
      background-color: $color-highlight;
      color: $background;
      width: fit-content;
      padding: 10px 20px;
      padding-left: 40px;
      z-index: 1;
    }

    p {
      padding-left: 40px;
      padding-right: 90px;
      margin-bottom: 12px;

      @media only screen and (max-width: 600px) {
        padding-left: 40px;
        padding-right: 40px;
      }
    }

    ul {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -2%);
      display: grid;
      width: 60%;
      grid-template-columns: 50% 50%;
      background-color: $text-main;
      color: $background;
      margin-left: auto;
      margin-right: auto;

      @media only screen and (max-width: 600px) {
        position: relative;
        width: 100%;
        background-color: $background;
        color: $text-main;
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
      }
    }

    li {
      display: block;
      padding-top: 18px;
      padding-bottom: 18px;
      margin-bottom: 0px;
      font-weight: 600;

      @media only screen and (max-width: 600px) {
        padding: 6px 40px;
        font-weight: normal;
        margin: 0;
        text-align: center;
      }
    }

    .infotext {
      padding-top: 60px;
    }

    .subhead {
      background-color: $text-main;
      color: $background;
      padding: 10px 20px;
      width: fit-content;
      min-width: 30%;
      position: absolute;
      top: 80px;
      z-index: -1;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
      margin: 0px;
    }
  }
}
/*#endregion */

/*#region FAB */
.fab {
  background-color: $color-highlight;
  width: 80px;
  height: 80px;
  line-height: 72px;
  font-size: 60px;
  font-weight: bolder;
  color: $background;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: .4);
  transition: 0.4s;
  
  &:hover {
    box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: .6);
    cursor: pointer;
  }
  &:active {
    background-color: $text-main;
  }
}
/*#endregion */

/*#region Info page */
.info-box {
  font-family: "Roboto";
  font-weight: 200;
  margin-top: 20px;

  p {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .title {
    font-family: "Manrope";
    font-weight: 600;
    color: $color-highlight;
  }

  .additional {
    color: $text-main
  }

  .highlight {
    font-weight: 400;
    color: $color-highlight
  }
}

.form-box {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 190px;

  label {
    font-family: "Roboto";
    font-weight: 300;
  }

  .action-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  input {
    width: 100%;
    padding: 6px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid $color-inactive;
  }

  input::placeholder, textarea::placeholder {
    color: $text-light;
    font-size: 12px;
    font-family: "Roboto";
  }

  input[type=submit], input[type=reset] {
    border: none;
    padding: 6px;
    max-width: 90px;
    color: $text-main;
    font-family: "Roboto";
    font-weight: 400;
    border-radius: 2px;
    &:hover {
      background-color: $text-light;
      color: $background;
    }
  }

  input[type=submit] {
    background-color: $color-highlight;
    color: $background;
    &:hover {
      background-color: darken($color: $color-highlight, $amount: 20);
    }
  }

  textarea {
    width: 100%;
    padding: 6px;
    margin-bottom: 12px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid $color-inactive;
    ::placeholder {
      font-family: "Roboto";
      font-size: 60px;
    }
  }
}
/*#endregion*/

/*#region News items layout */
.portfolio-items-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: $text-main;
  text-align: left;
  flex-flow: row wrap;

  .portfolio-item-tile {
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: .2);
    overflow: hidden;
    position: relative;
    margin: 20px;

    &:hover {
      //box-shadow: 0 0 16px 0 rgba($color: #000000, $alpha: .6);
      cursor: pointer;

      .pi-image {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
      }
    }

    .text-in-image {
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;


      .pi-header {
        background-color: $color-highlight;
        color: $background;
        margin: 6px;
        margin-left: 0;
        width: fit-content;
        max-width: 40%;
        text-align: right;
        padding: 10px 20px;
        position: relative;
        top: 220px;
        z-index: 2;
      }
      .pi-byline {
        font-weight: bold;
        color: $background;
        margin-left: 0px;
        width: fit-content;
        min-width: 30%;
        max-width: 60%;
        background-color: $text-main;
        padding: 10px 20px;
        position: relative;
        top:210px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .pi-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
    }
  }
}
/*#endregion */

/*#region Post page */
.post-form {
  display: flex;
  flex-direction: column;
  color: $text-light;
  width: 50%;
  margin-right: auto;
  margin-left: auto;

  input[type="text"], input[type="select"], textarea {
    color: $text-main;
    text-align: left;
    font-family: "Roboto";
    font-size: 16px;
    padding: .6em 1.4em .5em .8em;
    line-height: 1.3;
    border: 1px solid $text-light;
    margin-bottom: 6px;
    &:focus {
      outline: 1px solid $color-highlight;
      border-color: $color-highlight;
    }
  }

  .custom-select {
    font-family: "Roboto";
    display: block;
    font-size: 16px;
    color: $text-light;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 6px;
    border: 1px solid $text-light;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $background;
    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
	  background-position: right .7em top 50%;
	  background-size: .65em auto;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 1px solid $color-highlight;
      border-color: $color-highlight;
    }
  }

  .custom-select::-ms-expand {
    display: none
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-file-input::before {
    content: 'Select an image';
    display: inline-block;
    background: $text-main;
    border: none;
    color: $background;
    font-family: "Roboto";
    line-height: 1.3;
    width: 100%;
    padding: 12px 0px;
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 6px;
    text-align: center;
    transition: 0.3s;
  }

  .custom-file-input:hover::before {
    background-color: $color-highlight;
  }

  button {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: $text-main;
    color: $background;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;

    &:hover {
      background-color: $color-highlight;
      cursor: pointer;
    }
  }
}
/*#endregion */

/*#region Sign in page */
.spinner {
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: $text-main !important;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 289px;
  margin-left: auto;
  margin-right: auto;
  color: $text-light;
  box-shadow: 0 6px 4px 0px rgba($color: #000000, $alpha: .2);
  border-radius: 5px;
  padding: 20px;

  h2 {
    margin-bottom: 12px;
  }

  input[type="text"], input[type="password"] {
    color: $text-main;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    border: 1px solid $text-light;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
  }

  button {
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: $text-main;
    color: $background;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;

    &:hover {
      background-color: $color-highlight;
      cursor: pointer;
    }
  }
}
/*#endregion */